<link
	rel="stylesheet"
	href="local:///opt/LiteLoaderQQNT/plugins/ark_sender/src/lib/styles/main.css"
/>
<div id="ark-sender-window" class="ark-window q-dialog">
	<div id="ark-sender-modal" class="ark-modal q-dialog-modal"></div>

	<div id="ark-sender-dialog" class="ark-dialog q-dialog-main">
		<hr style="margin: 16px 0px" />

		<div class="ark-form-group">
			<input
				class="ark-input"
				:style="{ backgroundColor: isDarkMode ? 'var(--bg-dark)' : 'var(--bg-light)', 
                         color: isDarkMode ? 'var(--text-dark)' : 'var(--text-light)' }"
				type="text"
				spellcheck="false"
				placeholder="请输入 Bot Http 端口"
				v-model="inputPort"
			/>
		</div>

		<div class="ark-form-group">
			<select
				class="ark-input"
				:style="{ backgroundColor: isDarkMode ? 'var(--bg-dark)' : 'var(--bg-light)', 
                         color: isDarkMode ? 'var(--text-dark)' : 'var(--text-light)' }"
				v-model="inputType"
			>
				<option value="json">JSON消息</option>
				<option value="text">文本消息</option>
			</select>
		</div>

		<div class="ark-form-group">
			<div
				v-html="messageIcon"
				:style="{ fill: isDarkMode ? 'var(--icon-dark)' : 'var(--icon-light)' }"
			></div>
			<input
				class="ark-input"
				:style="{ backgroundColor: isDarkMode ? 'var(--bg-dark)' : 'var(--bg-light)', 
                         color: isDarkMode ? 'var(--text-dark)' : 'var(--text-light)' }"
				type="text"
				spellcheck="false"
				:placeholder="getPlaceholder"
				v-model="inputContent"
			/>
		</div>

		<button
			class="ark-button q-button q-button--small q-button--secondary"
			@click="sendMessage"
		>
			发送
		</button>
	</div>
</div>
